<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    
    <link rel="stylesheet" href="/css1_abu/style.css"> </head>
<body>
    
    
    
    

    <form action="#" th:action="@{/register}"  method="post" th:object="${userDTO}">
        <div th:if="${session.registered}" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb;" role="alert">
            <p th:text="${session.registered}"> The alert dialog</p>
        </div>
        <div th:if="${session.error}" style="color: #fc0303; background-color: #f8d7da; border-color: #f5c2c7;" role="alert" >
            <p th:text="${session.error}"> The alert dialog</p>
        </div>
        
        
        
        <h1>Register here!</h1>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="fName" required th:value = ${userDTO.fName}>
        <br>

        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lName" required th:value = ${userDTO.lName}>
        <br>

        <label for="city_name">City</label>
        <input type="text" id="city_name" name="city" required th:value = ${userDTO.city}>
        <br>

        <label for="mobile_no">Mobile</label>
        <input type="number" id="mobile_no" name="contact" required th:value = ${userDTO.contact}>
        <br>

        <label for="email" >Email</label>
        <input type="email" id="email" name="email" required placeholder="Email Id will be your username" th:value = "${userDTO.email}">
        <br>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required th:value="${userDTO.password}">
        <br>

        <label for="about">About</label>
        <input type="text" id="about" name="about" required th:value="${userDTO.about}">
        <br>

        <input type="checkbox" id="terms" name="terms" required>
        <label for="terms">I agree to the Terms of Service and Privacy Policy</label>
        <br>

        <button type="submit">Sign Up</button>
        <button type="reset">Reset</button>
    </form>

    <p>Already have an account? <a href="#" th:href="@{/login}">Login Here</a></p>
</body>
</html>
